.bg-black{
    background-color: black;
}
.font-div{
    width: 30%;
}

img{
    width: 100%;
    height: 100%;
}
/* .fb{
    color:  #3b5998;
}
.google{
    color: #4285f4;
}
.youtube{
    color: #ff0000;
}
.twitter{
    color: #1da1f2;
}
.insta{
    color: #c32aa3;

} */

@media only screen and (min-width: 1198px){ 
    .font-div{
        padding: 43px 0px!important
    }
}